
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
    <link href="~/css/Site.css" rel="stylesheet" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>

<body class="container">
    <h1 class="h1">Wajid ali</h1>
    <input type="button" value="Click Me!" class="btn btn-primary" />
    <img src="~/images/logo.png" class="logo" alt="logo" />
</body>
</html>
